.section {
  padding: 8.3vw 0;
  background-color: black;

  h2 {
    font-family: Druk Cyr;
    font-weight: 700;
    font-size: 5vw;
    line-height: 99%;
    letter-spacing: 2%;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    max-width: 20vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.9vw;
  }

  .list {
    color: var(--white);
    gap: 1.8vw;
    display: flex;
    height: 56.2vw;

    .item {
      height: max-content;
    }

    .item:nth-child(1) {
      width: 30.7vw;
    }
    .item:nth-child(2) {
      flex-grow: 1;
      align-self: flex-end;
    }

    .imageContainer {
      position: relative;
      padding: 2vw;
      height: 43.7vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-family: Druk Cyr;
        font-weight: 900;
        font-size: 3.7vw;
        line-height: 99%;
        letter-spacing: 0.01vw;
        text-transform: uppercase;
      }

      span {
        display: block;
        font-family: Druk Cyr;
        font-weight: 900;
        font-size: 5vw;
        line-height: 99%;
        letter-spacing: 0.01vw;
        text-transform: uppercase;
        max-width: 7vw;
      }

      .verticalText {
        position: absolute;
        right: 2vw;
        bottom: 2vw;
        writing-mode: vertical-rl;
        font-family: Mona Sans;
        font-weight: 900;
        font-size: 1.2vw;
        line-height: 99%;
        letter-spacing: 0.01vw;
        text-transform: uppercase;
      }
    }
  }

  .eventPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .item:nth-child(1) {
      width: auto;
    }
    .item:nth-child(2) {
      flex-grow: 0;
      align-self: flex-start;
    }
  }
}

.bottomHeading {
  padding: 1.25vw 0 2vw 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h4 {
    font-family: Mona Sans;
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 100%;
    letter-spacing: -0.01vw;
    margin-bottom: 0.8vw;
    text-transform: uppercase;
  }

  .location {
    display: flex;

    span:nth-child(1) {
      margin-right: 1.2vw;
    }

    span {
      font-family: Manrope;
      font-weight: 500;
      font-size: 0.9vw;
      line-height: 120%;
      letter-spacing: -0.01vw;
      display: flex;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.7);
    }

    svg {
      width: 1vw;
      height: 1vw;
      margin-right: 0.4vw;
    }
  }
}

.priceBlock {
  display: flex;
  align-items: end;
  font-family: Mona Sans;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 100%;
  letter-spacing: -2.2%;
  text-transform: uppercase;

  .slash {
    font-weight: 300;
  }

  span {
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 100%;
    text-transform: uppercase;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
  }

  svg {
    width: 2.1vw;
    height: 1vw;
    margin-right: 0.5vw;
  }
}

.btnContainer {
  display: flex;
  gap: 0.6vw;
  width: 30.7vw;
  height: 2.8vw;

  div,
  a {
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 90%;
    letter-spacing: -0.01vw;
    text-transform: uppercase;
    border-radius: 8.6vw;
    text-align: center;
    flex: 1;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:nth-child(1) {
    position: relative;
    background-color: var(--white);
    color: var(--black);
    overflow: hidden;
    z-index: 4;
  }

  div:nth-child(1):hover {
    color: var(--white);
    background-color: transparent;
  }

  div:nth-child(1)::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(/images/gradient-bg.avif);
    background-size: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  div:nth-child(1):hover::before {
    opacity: 1;
  }

  a {
    border: 2px solid var(--white);
  }

  a:hover {
    background-color: var(--white);
    color: var(--black);
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 21vw 0;

    h2 {
      font-size: 10.6vw;
      margin-bottom: 10vw;
      max-width: 43vw;
    }

    .list {
      display: block;
      height: auto;

      .item {
        width: auto !important;
      }

      .item:not(:last-child) {
        margin-bottom: 11.2vw;
      }

      .imageContainer {
        padding: 6.4vw;
        height: 138.6vw;

        h3 {
          font-size: 10vw;
        }

        span {
          font-size: 13.8vw;
          max-width: 20vw;
        }

        .verticalText {
          font-size: 4.2vw;
          right: 6.4vw;
          bottom: 6.4vw;
        }
      }
    }

    .bottomHeading {
      padding: 6.4vw 0 8.5vw 0;

      h4 {
        font-size: 5.3vw;
        margin-bottom: 3.2vw;
      }

      .location {
        span:nth-child(1) {
          margin-right: 4.2vw;
        }

        span {
          font-size: 3.7vw;
        }

        svg {
          width: 4.2vw;
          height: 4.2vw;
          margin-right: 2.1vw;
        }
      }

      .priceBlock {
        font-size: 5.3vw;

        span {
          font-size: 3.7vw;
          margin-right: 1vw;
          margin-left: 1vw;
        }

        svg {
          width: 6.6vw;
          height: 3.7vw;
        }
      }
    }

    .btnContainer {
      width: auto;
      height: 13.8vw;
      gap: 3.2vw;

      div,
      a {
        font-size: 3.7vw;
      }

      div:nth-child(1) {
        background-image: url(images/gradient-bg.avif);
        background-size: cover;
        color: var(--white);
        background-color: black;
      }
      div:nth-child(1)::before {
        opacity: 1;
      }
    }
  }

  .section:has(.eventPage) {
    padding-top: 30vw;
  }
}
