.section {
  position: relative;
  width: 100.1%;
  /* height: 100vh; */
  padding-top: 8vw;
  padding-bottom: 3vw;
}

.section video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;

  .list {
    position: relative;
    z-index: 9;
  }
}

.heroTitleContainer {
  position: relative;
  text-align: center;
  color: var(--white);

  span {
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 100%;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.8vw;
  }

  h1 {
    margin-bottom: 1vw;
    justify-content: center;

    span {
      font-family: Druk Cyr;
      font-weight: 700;
      font-size: 8.1vw;
      line-height: 99%;
      text-transform: uppercase;
    }
  }

  p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 140%;
    width: 26vw;
    margin: 0 auto;
    margin-bottom: 2.5vw;
  }

  a,
  .a {
    padding: 1.6vw 0;
    width: 17vw;
    font-family: Mona Sans, sans-serif;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 100%;
    letter-spacing: -0.01vw;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 0.8vw;
    border-radius: 1.2vw;
    background: var(--gradient);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 3.8vw;
    cursor: pointer;

    svg {
      width: 0.6vw;
      height: 0.6vw;
      fill: var(--white);
      transition: 0.3s ease-in-out;
    }
  }

  a:hover,
  .a:hover {
    box-shadow: 0px 20px 33px 4px rgba(209, 47, 1, 0.33);
    background: var(--hoverGradient);

    svg {
      transform: rotate(90deg);
    }
  }
}

.showReelContainer {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    left: 0;
    pointer-events: none;
  }
}

.showReel {
  /* position: relative; */
  border: 0.01vw solid rgba(255, 255, 255, 0.5);
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 0.8vw;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 2vw;

  img {
    width: auto;
    height: auto;
  }

  svg {
    width: 1.1vw;
    height: 1.1vw;
    fill: var(--white);
    transition: fill 0.3s ease-in-out;
  }

  span {
    font-family: Manrope;
    text-transform: capitalize;
    transition: color 0.3s ease-in-out;
  }
}

.showReel:hover {
  background-color: var(--white);

  svg {
    fill: var(--black);
  }

  span {
    color: var(--black);
  }
}

.swiperController {
  position: relative;
  display: flex;

  .tab {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    background: #cccccc00;
    width: fit-content;
    padding: 1.2vw 1.6vw;
    border-radius: 1.2vw;
    opacity: 0.4;
    transition: 0.5s;
    cursor: pointer;

    .tabImageBorder {
      position: relative;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 3.8vw;
      height: 3.8vw;
      border-radius: 50%;
      overflow: hidden;
      z-index: 9;
    }

    h4 {
      font-family: Manrope;
      font-weight: 600;
      font-size: 1vw;
      line-height: 100%;
      letter-spacing: -0.01vw;
      color: var(--white);
      margin-bottom: 0.8vw;
    }

    p {
      font-family: Manrope;
      font-weight: 400;
      font-size: 0.8vw;
      line-height: 150%;
      letter-spacing: -0.01vw;
      display: flex;
      align-items: center;
      gap: 0.4vw;
      color: rgba(255, 255, 255, 0.5);

      svg {
        width: 0.8vw;
        height: 0.8vw;
        fill: white;
        margin-bottom: 0.2vw;
      }
    }
  }
}

.tab.active {
  opacity: 1 !important;
  background: rgba(255, 255, 255, 0.16) !important;
  backdrop-filter: blur(24px) !important;
}

.heroBottomContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .scrollDown {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    animation: bounceY 2s ease-in-out infinite;

    svg {
      width: 1.6vw;
      height: 1.6vw;
    }

    p {
      font-family: Helvetica;
      font-weight: 400;
      font-size: 0.8vw;
      line-height: 100%;
      letter-spacing: -0.01vw;
      color: var(--white);
      margin-bottom: 0.2vw;
    }

    span {
      font-family: Helvetica;
      font-weight: 400;
      font-size: 0.8vw;
      line-height: 100%;
      letter-spacing: -0.01vw;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

@keyframes bounceY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  .video.active {
    opacity: 1;
    z-index: 2000000000;
  }

  .video.hidden {
    opacity: 0;
    z-index: 1;
  }
}

.ringBg {
  fill: none;
  stroke: #ccc;
  stroke-width: 2;
}
.ring {
  fill: none;
  stroke: white;
  stroke-width: 1;
}

.tabImageWrapper {
  position: relative;
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressCircle {
  /* transform: rotate(-90deg); */
}

.progressCircle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progressBackground {
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 0.05vw;
}

.progressBar {
  fill: none;
  stroke: white;
  stroke-width: 0.05vw;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  /* transform: rotate(-90deg); */
}

.animating {
  animation: progressAnim 20s linear forwards;
}

@keyframes progressAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 1024px) {
  .section {
    padding-top: 25vw;
    padding-bottom: 6.4vw;
  }

  .heroTitleContainer {
    margin-bottom: 27.7vw;

    span {
      font-size: 4.2vw;
      margin-bottom: 2vw;
    }

    h1 {
      font-family: Druk Cyr;
      font-weight: 700;
      font-size: 21.3vw;
      line-height: 99%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 8.5vw;
    }

    p {
      font-size: 3.7vw;
      width: 80%;
      margin-bottom: 8.5vw;
    }

    a,
    .a {
      font-size: 4.2vw;
      width: 66.6vw;
      border-radius: 6.4vw;
      gap: 4.2vw;
      padding: 5.8vw 0;

      svg {
        width: 3.2vw;
        height: 3.2vw;
      }
    }
  }

  .heroBottomContainer {
    display: block;
    .swiperController {
      flex-wrap: wrap;
      gap: 2.1vw;

      .tab {
        display: block;
        flex-basis: calc((100% - 2.1vw) / 2);
        padding: 7.2vw 5.3vw;
        border-radius: 6.4vw;
        opacity: 0.4;
        background: rgba(255, 255, 255, 0.16);
        backdrop-filter: blur(12px);

        .tabImageBorder {
          display: block;
          margin-bottom: 2.6vw;

          img {
            width: 13.7vw;
            height: 13.7vw;
          }
        }

        h4 {
          font-size: 4.2vw;
          margin-bottom: 2.5vw;
        }

        p {
          font-size: 3.2vw;
          gap: 1vw;
          line-height: 106%;
          margin-bottom: 1.6vw;

          svg {
            min-width: 3.2vw;
            min-height: 3.2vw;
            max-width: 3.2vw;
            max-height: 3.2vw;
          }
        }
      }
    }
  }

  .shoeReelMobileWrapper {
    background-image: url(/images/show-reel-mob-bg.jpg);
    background-size: cover;
    height: 200vw;
    margin-top: 21.3vw;
  }

  .tabImageWrapper {
    width: 17vw;
    height: 17vw;
    margin-bottom: 2.6vw;

    img {
      width: 13vw !important;
      height: 13vw !important;
    }
  }

  .progressBackground {
    fill: none;
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 0.2vw;
  }

  .progressBar {
    fill: none;
    stroke: white;
    stroke-width: 0.2vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }

  .showReelContainer {
    top: 50%;
    transform: translateY(-50%);
    .showReel {
      width: 40vw;
      height: 40vw;
      background-color: var(--white);

      svg {
        width: 5.8vw;
        height: 5.8vw;
        fill: var(--black);
      }

      span {
        font-size: 3.7vw;
        color: var(--black);
      }
    }

    .showReel::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--white);
    }

    img {
      height: 100%;
    }
  }
}
