.section {
  padding: 8.2vw 0;

  .itemContainer:has(h2) {
    margin-bottom: 2vw;

    h2 {
      font-family: Druk Cyr;
      font-weight: 700;
      font-size: 8.1vw;
      line-height: 99%;
    }
  }

  .itemContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
  }

  ul {
    .itemContainer {
      border-top: 1px solid rgba(29, 29, 29, 0.2);
      padding-top: 2vw;

      .questionNumber {
        font-family: Manrope;
        font-weight: 500;
        font-size: 0.9vw;
        line-height: 140%;
        letter-spacing: 0%;
        color: var(--text);
      }

      .question {
        font-family: Druk Cyr;
        font-weight: 700;
        font-size: 3.3vw;
        line-height: 99%;
        letter-spacing: 2%;
        text-transform: uppercase;
        color: var(--text);
        max-width: 33vw;
      }

      .answer {
        font-family: Manrope;
        font-weight: 500;
        font-size: 0.9vw;
        line-height: 140%;
        letter-spacing: 0%;
        color: var(--text);
        max-width: 26vw;
      }
    }
  }

  .itemContainer:not(:last-child) {
    margin-bottom: 2vw;
  }
}
