.section {
  padding-top: 8.3vw;
  overflow: hidden;
  padding-bottom: 8.3vw;
}

.titleContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2vw;

  h2 {
    font-family: Druk Cyr;
    font-weight: 700;
    font-size: 5vw;
    line-height: 99%;
    letter-spacing: 0.01vw;
    text-transform: uppercase;
  }
}

.slider {
  display: flex;
}

.slide {
  /* width: 20vw !important; */
  img {
    width: 77vw;
    height: 44.7vw;
    margin-bottom: 1.3vw;
  }

  .slideBottomInfo {
    color: #1d1d1d;
    font-family: Manrope;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.01vw;
    display: flex;
    gap: 29vw;
    align-items: center;
  }
}

.swiperContainer {
  width: 77vw;
  overflow: visible;
}

.sliderWrapper {
  position: relative;

  .swiperController {
    position: absolute;
    top: 44%;
    display: flex;
    justify-content: center;
    gap: 82vw;
    width: 100%;
    z-index: 99999999;
    height: 1px;
  }

  .btn {
    position: relative;
    background-color: rgba(29, 29, 29, 1);
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(/images/circle-gradient-bg.svg);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .btn:hover::before {
    opacity: 1;
  }

  svg {
    width: 1.6vw;
    height: 1.6vw;
    z-index: 1;
  }
}

.tabController {
  display: flex;
  margin-bottom: 2.5vw;

  div {
    font-family: Manrope;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 100%;
    padding: 0.8vw 1.3vw;
    border: 1px solid rgba(29, 29, 29, 0.1);
    border-radius: 8.6vw;
    display: flex;
    gap: 0.3vw;
    transition: 0.3s;

    cursor: pointer;
  }

  div:hover {
    border-color: black;
  }

  .active {
    background-color: black;
    color: var(--white);
  }
}

.progressBarContainer {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  overflow: hidden;
  margin-bottom: 0.8vw;
}

.progressBar {
  height: 100%;
  background: var(--black);
  transition: width 0.3s ease-in-out;
}

.route {
  display: flex;
  gap: 0.8vw;
  align-items: center;

  span {
    width: 0.3vw;
    height: 0.3vw;
    border-radius: 50%;
    background-color: var(--black);
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 21.3vw 0;
  }

  .titleContainer {
    margin-bottom: 6.4vw;

    h2 {
      font-size: 10.6vw;
    }
  }

  .swiperContainer {
    margin-bottom: 10vw;
  }

  .progressBarContainer {
    height: 1px;
    margin-bottom: 3.7vw;
  }

  .tabController {
    position: relative;
    width: 95vw;
    overflow-x: auto;
    gap: 1vw;
    margin-bottom: 4.2vw;

    div {
      font-size: 3.7vw;
      padding: 4.2vw;
    }
  }

  .sliderWrapper {
    .swiperController {
      gap: 55vw;
    }

    .btn {
      width: 13.8vw;
      height: 13.8vw;
      flex-shrink: 0;
    }

    img {
      width: 100%;
    }

    svg {
      width: 4.6vw;
      height: 4.6vw;
    }
  }

  .slide {
    .slideBottomInfo {
      justify-content: space-between;
      gap: 0;
      font-size: 3.4vw;
    }

    img {
      height: 133vw;
      margin-bottom: 4.2vw;
    }
  }

  .route {
    span {
      width: 0.8vw;
      height: 0.8vw;
    }
  }
}
