.section {
  background-color: rgba(18, 18, 18, 1);
  padding-top: 9.3vw;
  padding-bottom: 5vw;
  /* height: 200vh; */

  .titleContainer {
    color: var(--white);
    margin-bottom: 3vw;

    h2 {
      font-family: Druk Cyr;
      font-weight: 900;
      font-size: 5vw;
      line-height: 99%;
      letter-spacing: 0.01vw;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1.8vw;
      justify-content: center;
    }

    p {
      font-family: Manrope;
      font-weight: 500;
      font-size: 0.9vw;
      line-height: 120%;
      letter-spacing: -0.01vw;
      width: 20vw;
      margin: 0 auto;
      transform: translateX(50%);
      color: rgba(255, 255, 255, 0.6);
    }
  }

  img {
    width: 20vw;
  }

  .sliderWrapper {
    position: relative;

    .swiper {
      padding-top: 1vw;
      padding-bottom: 12vw;

      .carItem {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.9s, opacity 0.9s;
        opacity: 0.4;
      }
    }

    .circle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10vw;
      width: 58.7vw;
      height: 20.7vw;
    }

    .swiperController {
      position: absolute;
      top: 44%;
      display: flex;
      justify-content: center;
      gap: 65vw;
      width: 100%;
      z-index: 99999999999999999999;
      height: 1px;
    }

    .btn {
      position: relative;
      background-color: rgba(29, 29, 29, 1);
      width: 5vw;
      height: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-image: url(/images/circle-gradient-bg.svg);
      background-size: cover;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .btn:hover::before {
      opacity: 1;
    }

    svg {
      width: 1.6vw;
      height: 1.6vw;
      z-index: 1;
    }
  }

  h3 {
    color: var(--white);
    font-family: Mona Sans;
    font-weight: 700;
    font-size: 2.2vw;
    line-height: 100%;
    letter-spacing: -0.01vw;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.4vw;
  }

  .modelsList {
    display: flex;
    justify-content: space-around;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 120%;
    letter-spacing: -0.01vw;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: 3s;
  }
}

.carInfo {
  transform: translateY(-7vw);
}

.carInfo {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}
.carInfo.hidden {
  opacity: 0;
}

@media (max-width: 1024px) {
  .section {
    padding-bottom: 35vw;
    padding-top: 20vw;

    .titleContainer {
      margin-bottom: 0;

      h2 {
        font-size: 12.8vw;
        max-width: 87vw;
        margin: 0 auto;
        margin-bottom: 6.4vw;
      }

      p {
        font-size: 3.7vw;
        width: 60vw;
        transform: none;
        text-align: center;
      }
    }

    .sliderWrapper {
      .swiper {
        padding-top: 0;
        height: 120vw;
      }

      .circle {
        bottom: none;
        top: 0;
        width: 90%;
        height: 100%;
      }

      .btn {
        width: 13.8vw;
        height: 13.8vw;

        svg {
          width: 4.6vw;
          height: 4.6vw;
        }
      }

      .swiperController {
        top: 60%;
      }
    }

    h3 {
      font-size: 4.2vw;
      margin-bottom: 8.8vw;
    }

    .carInfo {
      transform: translateY(-50vw);

      .modelsList {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
        gap: 2.1vw;

        font-size: 3.7vw;
      }
    }
  }
}
