.swiper-slide {
}

/* .swiper {
  padding-top: 1vw;
  padding-bottom: 12vw;
} */

.swiper-slide-active {
  transform: scale(2) translateY(5vw); /* Центрована машина більша */
  opacity: 1 !important;
}

.swiper-button-disabled {
  opacity: 0;
}
