.carSection {
  .swiper-slide-active {
    transform: scale(2) translateY(5vw);
    opacity: 1 !important;
  }

  .swiper-button-disabled {
    opacity: 0;
  }

  @media (max-width: 1024px) {
    .swiper-slide {
      transform: scale(1.5) translateY(40vw);

      img {
        width: 200vw;
      }
    }

    .swiper-slide-active {
      transform: scale(4) translateY(0);

      img {
        width: 20vw;
      }
    }
  }
}
