.section {
  position: relative;
  /* height: 160vh; */
  .titleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgba(29, 29, 29, 0.1);
    margin-bottom: 1.3vw;

    h2 {
      padding-top: 2.5vw;
      font-family: Druk Cyr;
      font-weight: 700;
      font-size: 5vw;
      line-height: 99%;
      letter-spacing: 0.01vw;
      text-transform: uppercase;
      border-right: 1px solid rgba(29, 29, 29, 0.1);
      padding-bottom: 1.5vw;

      span {
        /* color: rgba(95, 95, 95, 1); */
      }
    }

    p {
      padding-top: 2.5vw;
      font-family: Manrope;
      font-weight: 700;
      font-size: 0.9vw;
      line-height: 124%;
      width: 24vw;

      span {
        font-weight: 500;
      }
    }
  }

  .jcsb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2.6vw;
    max-height: 17vw;

    .impulse {
      font-family: Manrope;
      font-weight: 700;
      font-size: 1.6vw;
      line-height: 80%;
      letter-spacing: 0.001vw;

      display: flex;
      align-items: end;
      text-transform: uppercase;
      gap: 0.4vw;

      svg {
        width: 0.8vw;
        height: 0.8vw;
      }
    }
  }
}

.section video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoWrapper {
  position: relative;
  height: 45.8vw;
  padding-top: 1.2vw;

  .list {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: end;
    gap: 0.8vw;
    flex-wrap: wrap;
    width: 31.6vw;
    margin-left: auto;

    div {
      background-color: var(--white);
      width: 15.4vw;
      padding: 1.6vw;
      border-radius: 1.6vw;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: calc((100% - 0.8vw) / 2);

      p {
        font-family: Manrope;
        font-weight: 600;
        font-size: 1.2vw;
        line-height: 100%;
        max-width: 9vw;
      }

      svg {
        width: 6.4vw;
        height: 6.4vw;
        margin-left: auto;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.8vw;

  .bullets {
    display: flex;
    gap: 0.4vw;
  }

  .bullet {
    width: 0.8vw;
    height: 0.8vw;
    background-color: rgba(29, 29, 29, 0.1);
    border-radius: 50%;
  }

  .activeBullet {
    background-color: var(--black);
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
  }
}

.qty {
  font-family: Manrope;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 130%;
  letter-spacing: 0.5vw;
}

.controller {
  display: flex;
  gap: 0.8vw;

  div {
    position: relative;
    padding: 1.1vw 3.3vw;
    border: 1px solid rgba(29, 29, 29, 1);
    border-radius: 8.6vw;
    overflow: hidden;
    cursor: pointer;

    svg {
      display: block;
      width: 2.1vw;
      height: 1vw;
      fill: var(--black);
      transition: fill 0.3s;
    }
  }

  div::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(/images/gradient-bg.avif);
    background-size: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  div:hover {
    border-color: transparent;
    svg {
      fill: var(--white);
    }
  }

  div:hover::before {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .section {
    .titleContainer {
      display: block;
      border: none;
      margin-bottom: 6.4vw;

      h2 {
        font-size: 11.4vw;
        padding: 0;
        border: none;
        margin-bottom: 3vw;
      }

      p {
        font-size: 3.7vw;
        width: 53vw;
        padding: 0;
      }
    }

    .jcsb {
      padding: 0;
      flex-direction: row;
      align-items: flex-start;
      max-height: none;
      padding-top: 4.2vw;
      border-top: 1px solid rgba(29, 29, 29, 0.1);

      .impulse {
        font-size: 5.3vw;
        padding-top: 1vw;

        svg {
          width: 2.7vw;
          height: 2.7vw;
        }
      }
    }

    .pagination {
      gap: 3.2vw;

      .bullets {
        gap: 2vw;
      }

      .bullet {
        width: 2.6vw;
        height: 2.6vw;
      }

      .activeBullet {
        width: 2.6vw;
        height: 2.6vw;
      }

      .qty {
        font-size: 4.8vw;
        letter-spacing: 2vw;
      }
    }

    .controller {
      gap: 2vw;

      div {
        padding: 3.7vw 7vw;
        svg {
          width: 7.7vw;
          height: 3.7vw;
        }
      }
    }
  }

  .videoWrapper {
    height: 178vw;
    padding-top: 8.5vw;

    .list {
      width: auto;
      gap: 1.8vw;
      justify-content: start;

      div {
        flex-basis: calc((100% - 1.8vw) / 2);
        padding: 4.2vw;
        border-radius: 4.8vw;

        p {
          font-size: 3.7vw;
          max-width: 27vw;
        }

        svg {
          width: 18.6vw;
          height: 18.6vw;
        }
      }
    }
  }
}
