.section {
  background-color: rgba(18, 18, 18, 1);
  padding-bottom: 8.3vw;
  padding-top: 5vw;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.7vw;
  }

  .imageBlock {
    position: relative;
    width: 40.6vw;
    overflow: hidden;

    .inst {
      color: var(--white);
      position: absolute;
      right: 2vw;
      bottom: 2vw;
      display: flex;
      align-items: center;
      gap: 0.8vw;

      .icon {
        position: relative;
        overflow: hidden;
        width: 3.7vw;
        height: 3.7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;

        svg {
          width: 1.2vw;
          height: 1.2vw;
          fill: var(--white);
          z-index: 2;
        }
      }

      .desc {
        p {
          font-family: Manrope;
          font-weight: 700;
          font-size: 0.9vw;
          line-height: 100%;
          letter-spacing: -0.01vw;
          text-transform: uppercase;
          margin-bottom: 0.6vw;
        }

        span {
          display: flex;
          align-items: center;
          gap: 0.4vw;
          color: rgba(255, 255, 255, 0.7);
          font-family: Manrope;
          font-weight: 700;
          font-size: 0.8vw;
          line-height: 100%;
          letter-spacing: -0.01vw;
          text-transform: uppercase;

          svg {
            width: 1vw;
            height: 1vw;
            fill: rgba(255, 255, 255, 0.7);
          }
        }
      }

      .icon::before {
        position: absolute;
        content: "";
        background-image: url(images/circle-gradient-bg.svg);
        background-size: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
      }
    }

    .inst:hover {
      .icon {
        border-color: transparent;
      }

      .icon::before {
        opacity: 1;
      }
    }
  }
  .imageBlock .filter {
    content: "";
    position: absolute;
    bottom: -50%;
    right: -50%;
    width: 40vw;
    height: 40vw;
  }

  .descBlock {
    width: 33.8vw;
    color: var(--white);

    .essence {
      font-family: Manrope;
      font-weight: 700;
      font-size: 0.9vw;
      line-height: 100%;
      letter-spacing: 0.01vw;
      text-transform: uppercase;
      padding-bottom: 1.8vw;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin-bottom: 1.8vw;
    }

    h3 {
      font-family: Druk Cyr;
      font-weight: 500;
      font-size: 5vw;
      line-height: 99%;
      text-transform: uppercase;
      color: var(--white);
      margin-bottom: 0;
    }

    .span {
      font-family: Druk Cyr;
      font-weight: 700;
      font-size: 2.1vw;
      line-height: 99%;
      text-align: right;
      text-transform: uppercase;
      display: block;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 1.8vw;
    }

    .bottomDesc {
      font-family: Manrope;
      font-weight: 500;
      font-size: 0.9vw;
      line-height: 120%;
      letter-spacing: -0.01vw;
      color: rgba(255, 255, 255, 0.5);
      max-width: 20vw;
    }
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 0 0 21vw 0;
    .container {
      flex-direction: column-reverse;
      gap: 8.5vw;
    }

    .descBlock {
      width: auto;

      .essence {
        font-size: 3.7vw;
        line-height: 110%;
        padding-bottom: 4.2vw;
        margin-bottom: 4.2vw;
      }

      h3 {
        font-size: 12.5vw;
      }

      .span {
        font-size: 7.4vw;
        margin-bottom: 4.2vw;
      }

      .bottomDesc {
        font-size: 3.7vw;
        max-width: 60vw;
      }
    }

    .imageBlock {
      width: auto;
      height: 106vw;

      img {
        height: 100%;
        object-fit: cover;
      }

      .filter {
        content: "";
        position: absolute;
        bottom: -53%;
        right: -63%;
        width: 130vw;
        height: 130vw;
      }

      .inst {
        gap: 3.2vw;

        .icon {
          width: 17vw;
          height: 17vw;

          svg {
            width: 6.4vw;
            height: 6.4vw;
          }
        }

        .desc {
          p {
            font-size: 4.2vw;
            margin-bottom: 2vw;
          }

          span {
            font-size: 3.7vw;

            svg {
              width: 4.2vw;
              height: 4.2vw;
            }
          }
        }
      }
    }
  }
}
