.animated-heading {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: inherit;
  font-weight: inherit;
  align-items: inherit;
  justify-content: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-bottom: 0.3vw;
}

.letter {
  display: inline-block;
  transform-origin: bottom;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  will-change: transform, opacity;
}

@media (max-width: 1024px) {
  .animated-heading {
    padding-bottom: 1vw;
  }
}
