.animated-text {
}

.animated-text span {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
