.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  overflow: hidden;
}

.textRow {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
}

.animate {
  animation: slideUp 0.4s ease forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    gap: 0;
  }
}
