.header {
  position: fixed;
  overflow: hidden;
  z-index: 9;
  left: 49.5vw;
  padding: 1.2vw 0;
  z-index: 99999999999999999999999;
  transition: 0.3s;
  width: 102vw;

  .headerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerNavList {
    display: flex;
    align-items: center;
    transition: opacity 0.3s;

    a,
    button {
      color: var(--white);
      padding: 0.8vw 1.3vw;
      font-family: Manrope;
      font-weight: 700;
      font-size: 0.8vw;
      line-height: 100%;
      border: 0.1vw solid var(--white);
      border-radius: 8.6vw;
      transition: color 0.3s, background-color 0.3s;
      cursor: pointer;
    }

    a:hover,
    button:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }

  .opacity {
    opacity: 0;
  }

  .headerLogoContainer {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.8vw;

    svg {
      width: 2.9vw;
      height: 2.9vw;
    }

    .logoTitle {
      h4 {
        font-family: Benzin;
        font-weight: 400;
        font-size: 1.2vw;
        line-height: 100%;
        letter-spacing: -0.01vw;
        color: var(--white);
        margin-bottom: 0.3vw;
      }

      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Helvetica;
        font-weight: 500;
        font-size: 0.4vw;
        line-height: 100%;
        letter-spacing: -0.01vw;
        text-transform: uppercase;
        color: var(--white);

        span {
          display: block;
          height: 0.01vw;
          width: 0.94vw;
          background-color: var(--white);
        }
      }
    }
  }

  .headerLogoContainer.mobile {
    position: static;
    transform: none;
  }

  .headerRightContainer {
    display: flex;
    align-items: center;
    gap: 12.6vw;

    .langController {
      display: flex;
      gap: 1vw;
      color: var(--white);
      font-family: Druk Cyr;
      font-weight: 500;
      color: var(--white);

      font-size: 1.1vw;
      line-height: 100%;
      letter-spacing: 0.01vw;

      div {
        cursor: pointer;
      }

      div:not(.active) {
        opacity: 0.4;
      }

      .active {
        opacity: 1;
      }
    }

    .contactContainer {
      display: flex;
      gap: 0.4vw;

      .contactWithUs {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 0.4vw;
        color: var(--black);
        background-color: var(--white);
        padding: 1vw 1.6vw;
        border-radius: 8.6vw;
        font-family: Manrope;
        font-weight: 700;
        font-size: 0.8vw;
        line-height: 100%;
        letter-spacing: 0.01vw;
        transition: color 0.3s;
        cursor: pointer;

        span {
          position: relative;
          z-index: 2;
        }

        svg {
          width: 0.9vw;
          height: 0.9vw;
          fill: var(--black);
          transition: fill 0.3s;
          z-index: 2;
        }
      }

      .contactWithUs::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        background-image: url(/images/gradient-bg.avif);
        background-size: cover;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .contactWithUs:hover::before {
        opacity: 1;
      }

      .contactWithUs:hover {
        color: var(--white);

        svg {
          fill: var(--white);
        }
      }

      .menuBtn {
        backdrop-filter: blur(22px);
        background: linear-gradient(
          147.73deg,
          rgba(0, 0, 0, 0.33) -5.4%,
          rgba(0, 0, 0, 0.1) 131.29%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.2vw;
        border-radius: 2.6vw;
        cursor: pointer;
        transition: 0.3s;

        span {
          display: block;
          width: 1.3vw;
          height: 1px;
          background-color: var(--white);
          transition: transform 0.3s;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.25vw;
        }
      }

      .active {
        span:nth-child(1) {
          transform: rotate(45deg) translate(0.1vw, 0.1vw) !important;
        }
        span:nth-child(2) {
          transform: rotate(-45deg) translate(0.1vw, -0.1vw) !important;
        }
      }
    }
  }
}

body:has(.static) {
  background-color: rgba(18, 18, 18, 1);
}

.static {
  position: relative;
  background-color: rgba(18, 18, 18, 1);
}

.header::before {
  position: absolute;
  /* display: none; */
  top: 0;
  left: -4vw;
  content: "";
  width: 110vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
  backdrop-filter: blur(0.2vw);
  opacity: 0;
  transition: 0.4s ease;
}

.hide {
  transform: translateY(-100%) translateX(-50%);
}

.show {
  transform: translateY(0) translateX(-50%);
}

.scrolled::before {
  opacity: 1;
}

@media (max-width: 1024px) {
  .header {
    padding: 4.2vw 0;

    .headerLogoContainer {
      gap: 3.2vw;

      svg {
        width: 11vw;
        height: 11vw;
      }

      .logoTitle {
        h4 {
          font-size: 4.7vw;
        }

        p {
          font-size: 1.6vw;
          line-height: 100%;

          span {
            width: 3.6vw;
            height: 0.2vw;
          }
        }
      }
    }

    .headerRightContainer {
      .contactContainer {
        .menuBtn {
          padding: 5.8vw;
          border-radius: 13.3vw;
          border: none;

          span {
            display: block;
            width: 6.3vw;
            height: 1px;
            background-color: var(--white);
          }

          div {
            gap: 2vw;
            transition: all 1s;
          }
        }

        .active {
          div {
            gap: 2vw;
            transform: translateX(0.8vw);
          }

          span:nth-child(1) {
            transform: rotate(45deg) translate(0.2vw, 1.3vw) !important;
          }
          span:nth-child(2) {
            transform: rotate(-45deg) translate(0.2vw, -1.3vw) !important;
          }
        }
      }
    }
  }

  .header::before {
    backdrop-filter: blur(1vw);
  }
}
