.section {
  padding-top: 8.3vw;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .infoBlock {
    margin: 0 auto;
    position: sticky;
    top: 2vw;
    z-index: 1; /* Менший ніж у фото */
    margin-bottom: 15vw;

    svg {
      margin: 0 auto;
      width: 6.4vw;
      height: 6.4vw;
      margin-bottom: 1.5vw;
      position: relative;
      z-index: 9;
    }

    h2 {
      position: relative;
      font-family: Druk Cyr;
      font-weight: 700;
      font-size: 5vw;
      line-height: 105%;
      letter-spacing: 0.01vw;
      text-align: center;
      text-transform: uppercase;
      width: 70vw;
      margin: 0 auto;
      margin-bottom: 1.5vw;
      /* color: var(--white);
      mix-blend-mode: exclusion; */

      .span {
        position: relative;
        overflow: hidden;
      }

      .span::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.5vw;
        background-color: var(--black);
        bottom: 0;
      }
    }

    p {
      position: relative;
      margin: 0 auto;
      margin-bottom: 2.3vw;
      font-family: Manrope;
      font-weight: 500;
      font-size: 1vw;
      line-height: 130%;
      /* color: var(--white); */
    }

    .aside {
      margin: 0 auto;
      width: 22vw;
      position: relative;
      left: 10%;
    }
  }
}

/* .topImagesContainer,
.bottomImagesContainer {
  position: relative;
  z-index: 10; 
} */

.topImagesContainer img,
.bottomImagesContainer img {
  position: relative;
  z-index: 99999;
  transition: 1;
}

.topImagesContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15vw;

  .separate {
    width: 30.4vw;
    overflow: hidden;
  }

  .couple {
    display: flex;
    gap: 1.2vw;

    div:nth-child(1) {
      width: 20.3vw;
      overflow: hidden;
    }
    div:nth-child(2) {
      width: 14.1vw;
      overflow: hidden;
    }
  }
}

.bottomImagesContainer {
  display: flex;
  justify-content: flex-end;
  gap: 18vw;
  height: 160vh;

  .separate {
    width: 20.8vw;
    overflow: hidden;
  }

  .couple {
    display: flex;
    gap: 1.2vw;

    div:nth-child(1) {
      width: 19vw;
      overflow: hidden;
    }
    div:nth-child(2) {
      width: 21vw;
      overflow: hidden;
    }
  }
}

.z {
  position: relative;
  z-index: 999999999999999999999999999999999999;
}

@media (max-width: 1024px) {
  .section {
    padding: 21.3vw 0;

    .infoBlock {
      /* transform: translateY(-13vw); */

      svg {
        width: 21.8vw;
        height: 21.8vw;
        margin-bottom: 8.5vw;
      }

      h2 {
        font-size: 12.5vw;
        width: auto;
        margin-bottom: 6.4vw;
      }

      .aside {
        display: block;
        position: static;

        width: 82vw;
      }

      p {
        font-size: 3.7vw;
        text-align: center;
        margin-bottom: 8.5vw;
      }

      .span::before {
        height: 1vw !important;
      }
    }

    .topImagesContainer {
      top: 3vw;
      margin-bottom: 100vw;

      .separate {
        width: 45vw;
      }

      .couple {
        display: flex;
        gap: 1.2vw;

        div:nth-child(1) {
          width: 40vw;
          height: 44vw;
          overflow: hidden;

          img {
            object-position: 0.5vw;
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .bottomImagesContainer {
      display: block;

      .couple {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: end;
        gap: 1.2vw;

        div {
          height: fit-content;
        }

        div:nth-child(1) {
          width: 45vw;
        }
        div:nth-child(2) {
          width: 40vw;
        }
      }
    }
  }
}
