.outer {
  position: relative;
  z-index: 1;
}

.section {
  position: relative;
  height: 210vh;
  overflow: hidden;

  .pinWrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    background-color: rgba(255, 255, 250, 1);
  }

  .imageBlock,
  .formBlock {
    height: 100vh;
    transition: width 0.5s ease;
  }

  .imageBlock {
    position: relative;
    height: 100vh;
    transition: width 0.5s ease;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;

    img {
      height: 100%;
      width: 100%;
    }

    .title {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--white);
      text-transform: uppercase;
      max-width: 24vw;

      .span {
        display: block;
        font-family: Manrope;
        font-weight: 700;
        font-size: 0.9vw;
        line-height: 100%;
        margin-bottom: 0.7vw;
      }

      h2 {
        justify-content: center;
        span {
          font-family: Druk Cyr;
          font-weight: 700;
          font-size: 5vw;
          line-height: 99%;
        }
      }
    }
  }

  .formBlock {
    position: absolute;
    right: 25%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffffa;
    width: 50% !important;

    .formContainer {
      min-width: 29.7vw;
      max-width: 29.7vw;

      h3 {
        color: #1d1d1d;
        text-align: center;
        font-family: Manrope;
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 33.6px */
        margin-bottom: 3vw;
      }

      form {
        .inputsBlock {
          display: flex;
          flex-direction: column;
          gap: 0.8vw;
          margin-bottom: 1.6vw;
        }

        label {
          font-family: Manrope;
          font-weight: 500;
          font-size: 0.9vw;
          line-height: 140%;
          color: rgba(29, 29, 29, 0.6);

          > span {
            color: #ab0600;
            opacity: 0.7;
          }
        }

        input {
          margin-top: 0.6vw;
          width: 100%;
          color: #1d1d1d;
          font-feature-settings: "salt" on;
          font-family: Manrope;
          font-size: 1vw;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 20px */
          opacity: 0.6;
          display: flex;
          height: 3vw;
          padding: 1vw 1.6vw;
          align-items: center;
          align-self: stretch;
          border-bottom: 1px solid rgba(29, 29, 29, 0.2);
          background: rgba(29, 29, 29, 0.05);
        }
      }
    }

    .submitBtn {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      width: 100%;
      padding: 1.6vw 3.2vw;
      justify-content: center;
      align-items: center;
      gap: 0.8vw;
      flex-shrink: 0;
      border-radius: 1.2vw;
      border: 2px solid #1d1d1d;
      margin-top: 3vw;
      color: #1d1d1d;
      text-align: center;
      font-family: Manrope;
      font-size: 0.9vw;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 18px */
      text-transform: uppercase;
      transition: 0.3s;

      span {
        position: relative;
        z-index: 1;
      }

      svg {
        width: 0.6vw;
        height: 0.6vw;
        fill: var(--black);
        transition: 0.3s;
      }
    }

    .submitBtn::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url(/images/corner-gradient-bg.jpg);
      background-size: cover;
      z-index: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .submitBtn:hover {
      color: var(--white);
      border-color: transparent;

      svg {
        fill: var(--white);
        transform: rotate(90deg);
      }
    }

    .submitBtn:hover::before {
      opacity: 1;
    }
  }
}

@media (max-width: 1024px) {
  .section {
    display: block;
    height: auto;

    .imageBlock {
      max-height: none;
      height: 220vw;

      .title {
        top: 30%;
        width: 90vw;
        max-width: none;

        .span {
          font-size: 4.2vw;
          margin-bottom: 5vw;
        }

        h2 {
          span {
            font-size: 19.2vw;
            margin-bottom: 0;
          }
        }
      }
    }

    .formBlock {
      padding: 25.8vw 0;
      position: static;
      width: auto !important;
      transform: none;

      .formContainer {
        width: 91.4vw;
        max-width: none;

        h3 {
          font-size: 4.2vw;
          width: 70vw;
          margin: 0 auto;
          margin-bottom: 8.5vw;
        }

        form {
          .inputsBlock {
            margin-bottom: 8.5vw;
            gap: 4.2vw;
          }

          label {
            font-size: 3.7vw;
          }

          input {
            font-size: 4.2vw;
            height: 13.8vw;
            margin-top: 2.1vw;
            padding: 4.2vw;
          }
        }
      }

      .submitBtn {
        font-size: 4.2vw;
        padding: 5.8vw;
        border-width: 1px;
        margin-top: 8.5vw;
        border-radius: 4.2vw;

        svg {
          width: 3.2vw;
          height: 3.2vw;
        }
      }
    }

    .mobile {
      width: 100%;
      opacity: 1;
    }
  }
}
