.footer {
  background-color: rgba(18, 18, 18, 1);
  padding-bottom: 8vw;

  .footerTopContainer {
    position: relative;
    overflow: hidden;
    min-height: 32.3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .logoBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2vw 0;
      border-right: 1px solid rgba(255, 255, 255, 0.2);

      .footerBgLogo {
        position: absolute;
        width: 34vw;
        height: 30.3vw;
        left: 5.8vw;
        top: 2vw;
      }

      svg {
        width: 5.2vw;
        height: 5.2vw;
      }

      .desc {
        display: flex;
        gap: 2.5vw;

        p {
          font-family: Manrope;
          font-weight: 500;
          font-size: 0.9vw;
          line-height: 120%;
          letter-spacing: -0.01vw;
          color: rgba(255, 255, 255, 0.6);
        }

        p:nth-child(1) {
          max-width: 20vw;
        }
        p:nth-child(2) {
          max-width: 23vw;
        }
      }
    }

    .contactBlock {
      padding: 2vw 0 2vw 2vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .address {
        color: var(--white);

        p {
          font-family: Manrope;
          font-weight: 700;
          font-size: 0.9vw;
          line-height: 100%;
          letter-spacing: -0.01vw;
          text-transform: uppercase;
          margin-bottom: 1.2vw;
        }

        address {
          font-family: Druk Cyr;
          font-weight: 500;
          font-size: 5vw;
          line-height: 120%;
          text-transform: uppercase;
          font-style: normal;
        }

        address a {
          position: relative;
          display: inline-block;
          background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: background 0.5s ease;
        }

        /* address a:hover {
          background-color: transparent;
        } */

        address a::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, #ab0600 0%, #ff5e00 100%);
          left: 0;
          bottom: 0;
          opacity: 0;
          transition: opacity 0.5s ease;
        }

        address a::before {
          content: attr(data-text);
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(90deg, #ab0600 0%, #ff5e00 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
          transition: opacity 0.5s ease;
          pointer-events: none;
        }

        address a:hover::before {
          opacity: 1;
        }
        address a:hover::after {
          opacity: 1;
        }
      }

      .socialBlock {
        display: flex;
        justify-content: space-between;

        ul {
          display: flex;
          gap: 1.2vw;

          a {
            position: relative;
            overflow: hidden;
            padding: 1.8vw;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.2);
            transition: border 0.3s;

            svg {
              position: relative;
              width: 1.2vw;
              height: 1.2vw;
              fill: var(--white);
              z-index: 1;
            }
          }

          a::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/images/circle-gradient-bg.svg);
            background-size: cover;
            opacity: 0;
            transition: opacity 0.3s;
          }

          a:hover::before {
            opacity: 1;
          }

          a:hover {
            border-color: transparent;
          }
        }
      }
    }
  }

  .anchor {
    position: relative;
    overflow: hidden;
    padding: 1.6vw;
    border-radius: 50%;
    border-radius: 50%;
    transition: border 0.3s;
    background-color: rgba(29, 29, 29, 1);

    svg {
      position: relative;
      width: 1.6vw;
      height: 1.6vw;
      fill: var(--white);
      z-index: 1;
    }
  }

  .anchor::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/circle-gradient-bg.svg);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .anchor:hover::before {
    opacity: 1;
  }

  .bigText {
    display: block;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 2vw;

    img {
      width: 100%;
    }
  }

  .footerBottomLinks {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 120%;
    letter-spacing: -0.01vw;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: underline;
      transition: color 0.3s;
    }

    a:hover {
      color: #ff5e00;
    }

    p {
      display: flex;
      gap: 0.2vw;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 16vw 0 10.6vw 0;

    .footerTopContainer {
      position: relative;
      padding-bottom: 10.6vw;
      display: block;
      overflow: visible;
      border-bottom: none;

      .logoBlock {
        position: relative;
        border-right: none;
        display: block;
        padding: 0;
        margin-bottom: 10.6vw;
        padding-bottom: 10.6vw;

        .footerBgLogo {
          display: none;
        }

        a {
        }

        svg {
          width: 17vw;
          height: 17vw;
        }

        .anchor {
          padding: 4.6vw;

          svg {
            width: 4.6vw;
            height: 4.6vw;
          }
        }

        .desc {
          p {
            font-size: 3.6vw;
            max-width: none !important;
          }
        }
      }

      .logoBlock::before {
        position: absolute;
        content: "";
        width: 100vw;
        height: 1px;
        bottom: 0;
        left: -4.2vw;
        background-color: rgba(255, 255, 255, 0.3);
      }

      .contactBlock {
        padding: 0;

        .address {
          p {
            font-size: 3.7vw;
            margin-bottom: 4.2vw;
          }

          address {
            line-height: 270%;
            margin-bottom: 6.4vw;

            a {
              font-size: 11.2vw;
            }
          }
        }

        .socialBlock {
          ul {
            gap: 4.2vw;
            a {
              padding: 5.3vw;

              svg {
                width: 6.4vw;
                height: 6.4vw;
              }
            }
          }
        }
      }
    }

    .footerTopContainer::before {
      position: absolute;
      content: "";
      width: 100vw;
      height: 1px;
      bottom: 0;
      left: -4.2vw;
      background-color: rgba(255, 255, 255, 0.3);
    }

    .bigText {
      position: relative;
      padding-top: 10.6vw;
      padding-bottom: 10.6vw;
      margin-bottom: 10.6vw;
      border-bottom: none;
    }

    .bigText::before {
      position: absolute;
      content: "";
      width: 100vw;
      height: 1px;
      bottom: 0;
      left: -4.2vw;
      background-color: rgba(255, 255, 255, 0.3);
    }

    .footerBottomLinks {
      flex-direction: column;
      align-items: center;
      font-size: 3.7vw;
      gap: 4.2vw;

      a {
        margin-left: 1vw;
      }
    }
  }
}
