@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap");

@font-face {
  font-family: Benzin;
  src: url(../fonts/Benzin-Bold.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica/HelveticaNeue-Medium.otf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Druk Cyr;
  src: url(../fonts/DrukCyr/DrukCyr-Bold.woff2) format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Druk Cyr;
  src: url(../fonts/DrukCyr/DrukCyr-Heavy.woff2) format("truetype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: Druk Cyr;
  src: url(../fonts/DrukCyr/DrukCyr-Medium.woff2) format("truetype");
  font-weight: 500;
  font-display: swap;
}
