@import "tailwindcss";

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Стандарт */
}

body {
  background-color: rgba(249, 247, 240, 1);
  width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: block;
}

input {
  display: block;
}

html {
  font-display: swap;
  scroll-behavior: smooth;
}

body.lock-scroll {
  overflow: hidden;
  position: fixed;
}
