@import "tailwindcss";

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

body {
  background-color: rgba(249, 247, 240, 1);
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: block;
}

input {
  display: block;
}

html {
  font-display: swap;
}
