.section {
  position: relative;
  overflow: hidden;
  padding-top: 20.6vw;

  h2 {
    font-family: "Druk Cyr", sans-serif;
    font-weight: 700;
    font-size: 12.5vw;
    line-height: 99%;
    letter-spacing: -0.01vw;
    text-transform: uppercase;
    white-space: nowrap;
    border-top: 1px solid rgba(29, 29, 29, 0.1);
    border-bottom: 1px solid rgba(29, 29, 29, 0.1);
    padding-bottom: 1vw;
  }

  .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20.6vw;
  }

  .marqueeInner {
    display: flex;
    min-width: 100%;
    animation: marquee 25s linear infinite;
  }

  .galleryBlock {
    /* position: relative; */
    min-height: 90vw;

    .galleryImage {
      position: absolute;
      top: 25vw;
      left: 50%;
      transform: translateX(-50%);

      width: 5.8vw;
      height: 5.8vw;
      transition: all 1s;
      border-radius: 50%;
    }

    .scrolled {
      width: 100% !important;
      height: 100% !important;
      transform: translateX(-50%) translateY(-30vw);
      border-radius: 0;
    }

    .visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.galleryList {
  position: absolute;
  top: 20vw;
  transform: translateY(5vw);
  opacity: 0;
  transition: 1s;

  li {
    position: absolute;
    display: inline-block;
  }

  li:nth-child(1) {
    top: 4.8vw;

    width: 17vw;
    left: 38.5vw;
    animation: shake 10s infinite;
    z-index: 1;
  }

  li:nth-child(2) {
    width: 48vw;
    animation: shake 12s infinite;
    left: 50vw;
  }

  li:nth-child(3) {
    width: 14.3vw;
    left: 21vw;
    top: 24vw;
    animation: shake 8s infinite;
    z-index: 1;
  }
  li:nth-child(4) {
    width: 28vw;
    left: 2vw;
    animation: shake 14s infinite;
    top: 32.5vw;
  }
  li:nth-child(5) {
    width: 21vw;
    left: 60vw;
    top: 34.5vw;
    animation: shake 10s infinite;
    z-index: 1;
  }
  li:nth-child(6) {
    width: 18.2vw;
    left: 79.6vw;
    animation: shake 12s infinite;
    top: 32.5vw;
  }
  li:nth-child(7) {
    width: 14.3vw;
    left: 21vw;
    top: 68.8vw;
    animation: shake 8s infinite;
    z-index: 1;
  }
  li:nth-child(8) {
    width: 48vw;
    left: 26vw;
    animation: shake 14s infinite;
    top: 58.2vw;
  }
  li:nth-child(9) {
    width: 14.3vw;
    left: 2vw;
    animation: shake 10s infinite;
    top: 90vw;
  }
  li:nth-child(10) {
    width: 21vw;
    left: 60vw;
    animation: shake 12s infinite;
    top: 90vw;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .section {
    h2 {
      font-size: 16.5vw;
    }

    .galleryBlock {
      min-height: 450vw;

      .galleryImage {
        width: 13.8vw;
        height: 13.8vw;
        top: 22vw;
      }

      .galleryList {
        li {
          position: absolute;
          display: inline-block;
        }

        li:nth-child(1) {
          top: 4.8vw;

          width: 36vw;
          left: 4.2vw;
        }

        li:nth-child(2) {
          width: 80vw;
          left: 15vw;
          top: 20vw;
        }

        li:nth-child(3) {
          width: 36vw;
          left: 30vw;
          top: 80vw;
          animation: shake 8s infinite;
          z-index: 1;
        }
        li:nth-child(4) {
          width: 91vw;
          left: 4.2vw;
          animation: shake 14s infinite;
          top: 120vw;
        }
        li:nth-child(5) {
          width: 63vw;

          left: 4.2vw;
          top: 190vw;
          animation: shake 10s infinite;
        }
        li:nth-child(6) {
          width: 45.8vw;
          left: 50vw;
          animation: shake 12s infinite;
          top: 220vw;
          z-index: 1;
        }
        li:nth-child(7) {
          width: 36vw;
          left: 60vw;
          top: 330vw;
          animation: shake 8s infinite;
          z-index: 1;
        }
        li:nth-child(8) {
          width: 80vw;
          left: 4.2vw;
          animation: shake 14s infinite;
          top: 290vw;
        }
        li:nth-child(9) {
          width: 45.8vw;
          left: 53vw;
          animation: shake 10s infinite;
          top: 390vw;
        }
        li:nth-child(10) {
          width: 45.8vw;
          left: 4.2vw;
          animation: shake 12s infinite;
          top: 390vw;
        }
      }
    }
  }
}
